
body{
  background: url("../img/image1.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.logo {
  /* display: flex; */
  align-items: center;
  right: 200px;
  text-align: center;
  padding-top: 50px;
  
}

.logo:hover span {
  letter-spacing: .6em;
}

.logo span {
  margin-left: 16px;
  font-size: 23px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 1s ease;
  color: rgba(10, 10, 10, 0.76);
}

.logo-sign {
  height: 32px;
  width: 46px;
  border: 2px solid rgba(7, 7, 7, 0.788);
  border-radius: 50%;
  padding: 5px 5px;
  margin: auto;
  /* text-align: center; */
  font-size: 27px;
  font-weight: 700;
  cursor: pointer;
  transition: all 1s ease;
  color: rgb(63, 63, 62);
  align-items: center;

}

.logo-sign:hover {
      background: #b3adad;
      color: white;
}

.articleTwo{
      /* width: 300px;
      margin: auto;
      border: 2px solid red; */
      font-size:  15px;
      width: 250px;
      margin: auto;
      /*   border: 2px solid red;*/ 
      -ms-transform: rotate(20deg); 
      -webkit-transform: rotate(20deg); 
      transform: rotate(-6deg); 
      position: absolute;
      left: 550px;

      bottom: 100px;

 }
.articleSix{
      font-family: 'Playball', cursive;
      width: 250px;
      height: 300px;
      margin: auto;
      /*  border: 2px solid red; */
      -ms-transform: rotate(20deg); 
      -webkit-transform: rotate(20deg); 
      transform: rotate(-9deg);
      position: absolute;
      left: 840px;
      /* right: -100px; */
      bottom: 150px;

}
.imageI{
      border-radius: 50%;
      position: absolute;
      bottom: 330px;
      /* right: 290px; */
      left: 570px;
      box-shadow: 4px 4px 4px rgba(149, 155, 156, 0.678);
      -ms-transform: rotate(20deg); 
      -webkit-transform: rotate(20deg); 
      transform: rotate(-7deg); 
      border: 2px solid rgba(128, 128, 128, 0.747);

}
.articleTwo div h1{
      text-shadow: 3px 3px 7px rgb(78, 75, 75);
}
.firstcharacter {
      color: rgb(8, 8, 8);
      float: left;
      /* font-family: 'Playball', cursive; */
      font-family: 'Rochester', cursive;
      /* font-family: Georgia; */
      font-size: 75px;
      line-height: 60px;
      padding-top: 4px;
      padding-right: 8px;
      padding-left: 3px;
}

i{
      font-size: 32px;
      /* text-align: center; */
      color: rgb(7, 1, 14);left: 200px;
      text-indent: 35px;
  
}
