/* BODY */

body {
  font-family: "Monoton", cursive;
  margin: 0;
  padding: 0;
}

body div {
  height: 100vh;
  padding: 2vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

div {
  margin: 0;
}

/* STUB */

body .stub {
  height: 5vh;
}

body .stub,
header,
footer {
  background: rgb(68, 67, 70);
}

/* BACKGROUND IMAGES */
.home {
  background-image: url("1.jpg");
}
#about {
  background-image: url("/views/anton/2.jpg");
}
.history {
  background-image: url("/views/anton/3.jpg");
  font-family: "Lato", sans-serif;
}
#hobby {
  background-image: url("/views/anton/4.jpg");
}
.contact {
  background-image: url("/views/anton/5.jpg");
  color: rgb(166, 189, 35);
}

/* HOME */

.home h1 {
  color: rgb(63, 60, 60);
  text-transform: uppercase;
  text-align: left;
  font-size: 5vh;
  padding: 0;
  font-family: "Monoton", cursive;
}

/* HEADER */

header {
  font-family: "Monoton", cursive;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul {
  display: flex;
  list-style: none;
}

header nav ul a {
  color: white;
  font-size: x-large;
}

a {
  color: rgb(45, 35, 189);
}

header nav ul li {
  padding-left: 30px;
}

/* CONTACT */

#contact {
  margin-bottom: 0;
  padding-bottom: 0;
}

#contact {
  font-family: "BioRhyme Expanded", serif;
  text-shadow: 2px 2px 3px black;
  font-size: x-large;
  text-align: left;
}

#contact a {
  color: rgb(166, 189, 35);
  text-shadow: 2px 2px 3px black;
}

.contact p {
  background: aqua transparent;
  padding: 2px;
}

/* ABOUT */

.about {
  font-family: "Space Mono", monospace;
  color: rgb(45, 35, 189);
  width: 700px;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgb(235, 228, 228);
}
.about p {
  margin-top: 0;
}

/* HOBBY */

.hobby {
  font-family: "Lato", sans-serif;
  font-size: 1, vw;
  color: rgb(19, 22, 2);
  text-shadow: 2px 2px 3px rgb(248, 247, 247);
  justify-content: space-evenly;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  height: 90vh;
}

h3 {
  text-align: center;
  font-size: 6vh;
}

article {
  width: 460px;
}

/* TABLE */

.table {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: top;
  margin-left: 10px;
}

table {
  width: 370px;
  color: rgb(45, 35, 189);
  font-size: 1, 5vw;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgb(235, 228, 228);
  text-align: left;
}

@media only screen and (max-width: 845px) {
  #hobby {
    display: block;
    height: 100%;
    overflow: hidden;
    font-size: 19px;
  }
}

/* BACKLINK POSITION */

.history,
.about,
.contact,
#hobby {
  display: flex;
  flex-direction: column;
}

.table,
article {
  height: 95vh;
}

.backlink {
  font-family: "Monoton", cursive;
  text-align: right;
  vertical-align: bottom;
  height: 5vh;
  margin: 0;
  font-size: 4vh;
  color: rgb(45, 35, 189);
}

/* FOOTER */

footer {
  text-align: center;
}

footer p {
  margin: 0 0;
  padding: 0 0;
}
