<!doctype html>
<html lang="en">

<head>
    <title>My Portfolio</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="../assets/ahmadkwifi/img/glasslogo.png" type="image/gif" sizes="28x28">
    <link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../assets/ahmadkwifi/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">

</head>

<body>

    <div id="mySidenav" class="sidenav">
        <div id="closBtn">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

        </div>
        <a href="../views/ahmadk.html">Home Page</a>
        <a href="../assets/ahmadkwifi/aboutme.html">About Me</a>

        <a href="../assets/ahmadkwifi/Contact.html">Contact</a>
        <a href="../assets/ahmadkwifi/Signatur.html">Signatur</a>
        <br>

        <div id="copyRight">
            A@K .Copyright<i class="fas fa-copyright"></i> Service,2018
        </div>

    </div>
    <div id="mySideImage" class="sideImage text-center">

        <a href="#"> <img class="rounded-circle" src="../assets/ahmadkwifi/img/ahmadportfolio.jpeg" alt="" id="imgBody"></a>

    </div>
    <div class="container" id="containerBody">
        <br><br>
        <div id="menuBody"><span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span></div>
        <br>
        <br><br>
        <main id="home">
            <h1 class="textAhmad">
                Ahmad <span class=" textAlkwifi"> Alkwifi</span>
            </h1>
            <br>
            <h2 class="sm-heading textWebBody">
                Web Developer, Programmer, Designer & Entrepreneur
                <br><span id="spanBody">
                    HTML, CSS3, JAVACSRIPT, IBUNTU, WINDOWS,.....</span>
            </h2>
            <br>
            <div class="iconsBody">
                <a href=""><i class="fab fa-twitter fa-2x"></i></a>
                <a href=""><i class="fab fa-facebook fa-2x"></i></a>
                <a href=""><i class="fab fa-linkedin fa-2x"></i></a>
                <a href=""><i class="fab fa-whatsapp fa-2x"></i></a>
            </div>

        </main>
    </div>

    <!-- Optional JavaScript -->
    <script src="../assets/ahmadkwifi/main.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>
</body>

</html>