<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Malla's Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    type="text/css" media="screen"/>
    <link rel="stylesheet" href="../assets/ahmadMalla/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
    integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">
</head>

<body>
    <header>
        <div class="card text-center card">
            <div class="card-header card1">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="file:///home/ahmad/javascript/java/index.html" target="_blank">Active</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link contact" href="file:///home/ahmad/javascript/app.html">Skills</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link about me" href="file:///home/ahmad/Documents/folder/FBW4_project/assets/ahmadMalla/About-me.html">Future</a>
                    </li>
                </ul>
            </div>
            <div class="card-body card2">
                <h1 class="card-title font-italic name">
                    <i class="fas fa-book-reader fa-3x icon"></i>AHMAD
                    <span class="title"> MALLA</span>

                    <div class="icons">
                        <a href="#"><i class="fab fa-facebook-f fa-lg facebook"  onmouseover="facebookover(this)" onmouseout="facebookout(this)" data-toggle="tooltip" data-placement="left" title="Ahmad Malla"></i></a> 
                        <a href="#"><i class="fab fa-twitter fa-lg twitter" onmouseover="twitterover(this)" onmouseout="twitterout(this)" data-toggle="tooltip" data-placement="right" title="Ahmad Malla"></i></a>
                        <a href="https://www.instagram.com/ahmad13mam?r=nametag"><i class="fab fa-instagram fa-lg instagram" onmouseover="instagramover(this)" onmouseout="instagramout(this)" data-toggle="tooltip" data-placement="bottom" title="https://www.instagram.com/ahmad13mam?r=nametag"></i></a>
                        <a href="#"><i class="fab fa-whatsapp fa-lg whatsup" onmouseover="whatsupover(this)" onmouseout="whatsupout(this)" data-toggle="tooltip" data-placement="top" title="015901104228"></i></a>
                    </div>
                </h1>
                <p class="card-text text">today is the first day in the rest of your life.</p>
                
            </div>
        </div>
        </div>
    </header>
    <div class="row row1">
        <div class="col">
            <img src="../assets/ahmadMalla/img.img/IMG-20180215-WA0012.jpg" class="rounded-circle image1">

        </div>
        <div class="col col1">
            <h3 class="shadow-lg">How much should I love it?</h3>
            <p class="paragraph1">
                Hello! my name is Ahmad. My goal in life is to always love what I'm doing.This includes
                my work and my past times - I want to love it all . I'm
                currently visiting a programming course in Düsseldorf city . I'm trying to
                discouver the programming world . I'm looking for practical instruction as
                an intership.
            </p>
        </div>
    </div>
    <div class="row row2">
        <div class="col paragraph2">
            <h2 class="shadow-lg p-1 h2">Huffnung</h2>
            <p class="paragraph">
                hilf mir,<br>
                da ich später die Welt helfen kann.
            </p>
        </div>
        <div class="col">
            <img src="../assets/ahmadMalla/img.img/FB_IMG.jpg" class="shadow-lg img-thumbnail rounded-circle image2">
            <p class="paragraph3">
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
            </p>
        </div>
    </div>

   






<script src="../assets/ahmadMalla/portfulio.js"></script>
</body>

</html>