<!DOCTYPE html>
<html lang="en">
<link href="https://fonts.googleapis.com/css?family=Acme|Anton|BioRhyme+Expanded|Inconsolata|Lato|Luckiest+Guy|Monoton|Raleway|Space+Mono"
    rel="stylesheet">

<head>
    <meta charset="UTF-8">
    <title>Anton Rybakov | Der Träumer und Der Spaßvogel </title>
    <link rel="stylesheet" href="anton/styles.css">
</head>

<body>
    <header id="head">
        <nav>
            <UL>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#history">Geschichte</a></li>
                <li><a href="#hobby">Hobby</a></li>
                <li><a href="#contact">Contact</a></li>
            </UL>
        </nav>
    </header>
    <section id="home">
        <div class="home">
            <h1>Hallo!</h1>
            <h1>mein Name ist Anton.</h1>
            <h1></h1>
            <h1>Willkommen auf</h1>
            <H1>meiner Homepage!</H1>
        </div>
    </section>
    <section class="stub">

    </section>
    <!-- ABOUT -->
    <section id="about">
        <div class="about">
            <p>Ich heiße Anton und bin fünf und dreißig Jahre alt. Vor zweieinhalb Jahren bin ich aus Sankt-Petersburg,
                das in Russland liegt, nach Deutschland gekommen. Dort studierte ich zwei Jahre lang an einer Fakultät
                für mechanische Technologie des Holzes an einer Universität. Daraufhin war ich fünfzehn Jahre lang als
                Systemadministrator tätig.</p>

            <p>Seit ich in Deutschland lebe habe ich bereits drei Sprachkurse besucht und die Prüfungen erfolgreich
                bestanden. Mein Sprachniveau ist B2. Außerdem machte ich ein Praktikum in einer Tischlerei.
                Anschließend war ich an einer Weiterbildungsmaßnahme, wo ich die Mediengestaltung von Bild und Ton
                kennen lernte, unter anderem:
                Videoschnitt, Mitarbeit im Drehteam, Kameraführung, Szenariotechnik und anderes. Zur Zeit erlerne ich
                CSS HTML und Java Script bei Digital Career Institute.
            </p>
            <p>
                In einer modernen Firma würde ich gerne an unserer Zukunft, die bald unsere Gegenwart wird, arbeiten.</p>
        </div>
        <div class="backlink"><a href="#head">Home</a></div>
    </section>
    <section class="stub"></section>
    <!-- LEBENSLAUF -->
    <section id="history">
        <div class="history">
            <div class=table>
                <table>
                    <tr>
                        <th>Berufserfahrung</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>03/2014 – 12/2006 </td>
                        <td>ZAO “KafeMax Sankt-Petersburg“, Sankt-Petersburg
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>system administrator</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>-Software installieren</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>-Kunden Betreuung</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>-Bearbeiten von Fotos</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>-Softwareaktualisierung</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>-Hardwarerenovierung</td>
                    </tr>
                    <tr></tr>
                    <tr></tr>
                    <tr>
                        <td>11/2006 – 02/2006 </td>
                        <td>OOO „Eurotech“, Sankt-Petersburg</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Verkaufsleiter Schweißanlagen</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>-Telefonische Verkauf</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>-Suche nach Kunden.</td>
                    </tr>
                    <tr></tr>
                    <tr></tr>
                    <tr>
                        <td>01/2006 – 06/2000</td>
                        <td>Internetcafe “Matrix”</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>system administrator</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>-Software installieren</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>-Kunden Betreuung</td>
                    </tr>
                </table>
                <!-- FORTBILDUNG TABLE -->
                <table>
                    <tr>
                        <th>Fortbildung</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>05/2018 – 06/2018 </td>
                        <td>Orientirungskurs (HTML, CSS)
                    <tr>
                        <td></td>
                        <td>Digital Career Institute</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>09/2017 – 03/2018</td>
                        <td>Mediengestalter: Bild und Ton</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Medienwerkstatt des</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Technologiezentrum Glehn GmbH</td>
                    </tr>
                    <tr>
                        <td>05/2017 – 08/2017</td>
                        <td>B2 Deutschkurs.</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Euro-Schule Niederrhein</td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>09/2016 – 03/2017</td>
                        <td>B1 Deutschkurs.</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Euro-Schule Niederrhein
                        </td>
                    </tr>
                </table>
                <!-- BILDUNG TABLE -->
                <table>
                    <tr>
                        <th>Bildung</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>09/2000 – 05/2003 </td>
                        <td>Saint Petersburg State</td>
                    <tr>
                        <td></td>
                        <td>Forest Technical University,</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Sankt-Petersburg</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Die Fakultät für Mechanische</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Technologie des Holzes</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Abschluss: Abitur</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>08/1989 – 03/2000</td>
                        <td>Gesamtschule</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Abschluss: Mittlere Reife</td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>09/2016 – 03/2017</td>
                        <td>B1 Deutschkurs.</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Euro-Schule Niederrhein
                        </td>
                    </tr>
                </table>
            </div>
            <div class="backlink"><a href="#head">Home</a></div>
        </div>
    </section>
    <section class="stub"></section>
    <!-- HOBBY -->
    <section id="hobby">
        <div class="hobby">
            <article class="tee">
                <h3>Tee</h3>
                Es ist erstaunlich, wie sorgfältig sich früher die Chinesen dem Studium der Phänomene näherten. Auch
                was beispielsweise Tee angeht. Es ist nur eine Pflanze, aber es gibt unzählige Arten von Tees und eine
                große Vielfalt. Grüner, roter, schwarzer, weißer und gelber sind diejenigen, die man kennt. Jede dieser
                Arten hat viele Unterarten. Allein nur grüner Tee hat 7 beliebte Sorten, und wie viele Grünteearten die
                Chinesen kennen, können Europäer nur erraten. Und es gibt noch verschiedene Oolongs und Pu-Erh-Tees,
                die sich in ihren Produktionsweisen sehr unterscheiden. Jede Art von Tee hat seine eigenen
                Eigenschaften und gibt dem Teetrinker sein besonderes Habe und versetzt ihn in den jeweiligen Zustand,
                wofür ich Tee mag. Außerdem ist dieses Getränk auch sehr gesund!
            </article>
            <article class="holz">
                <h3>Skulptur</h3>
                Immer wieder war ich erstaunt, wie ein Bildhauer aus einem großen Stück Marmor eine erstaunlich schöne
                Skulptur herausschneiden. Auch, dass das elegante Porzellangeschirr zunächst ein formloses Stück Ton
                war.
                Als ich als Kind mein Mittagessen nicht essen wollte, begann ich aus Brot kleine Figuren zu formen. Ich
                war sehr glücklich, als ich meine erste Knete bekam, bereits nach einer Woche waren alle Farben
                hoffnungslos vermischt. Als ich volljährig wurde und die Gesellschaft mir den Kauf richtiger Technik
                zur Holzvearbeitung erlaubte, erwarb ich sofort meine erste Bohrmaschine, Mithilfe derer ich bis heute
                noch kleine Figuren und Holzaccessoires für die Teezeremonie ausschnitze.
            </article>
            <article class="sport">
                <h3>Sport</h3>
                MENS SANA IN CORPORE SANO ist eine lateinische Redewendung, die so viel bedeutet wie: „ein gesunder
                Geist in einem gesunden Körper“. So sprach mein Sportlehrer in der Schule. Zu der Zeit, als meine
                "Trotzphase" noch nicht vorbei war, habe ich den Sportunterricht oft versäumt, um mit dem Fahrrad zu
                fahren, auf Bäume zu klettern und mich anderen "nicht sportlichen" Aktivitäten zu widmen. Ich bin fünf
                und dreißig, gehe längst nicht mehr zur Schule und habe seither unzählige Bücher gelesen,
                einschließlich zum Thema östlicher Philosophie. Und was den Sport angeht - zur Liebe zum Radfahren und
                auf Bäume klettern kam noch die Liebe zum Kung Fu hinzu.
            </article>
        </div>
        <div class="backlink"><a href="#head">Home</a></div>
    </section>
    <section class="stub"></section>
    <!-- CONTACT -->
    <section id="contact">
        <div class="contact">
            <div>
                <p>TEL: +4915731556781</p>
                <p>E-mail: andthengoto10@gmail.com</p>
                <p><a href="https://www.linkedin.com/in/anton-rybakov-151767163">LinkedIn</a></p>
                <p><a href="https://www.xing.com/profile/Anton_Rybakov">Xing</a></p>
                <p><a href="https://www.facebook.com/anton.rybakov.71">Facebook</a></p>
                <p><a href="https://twitter.com/arenque">Twitter(ru)</a></p>
                <p><a href="https://www.instagram.com/xaputoh_seledkin/ ">Instagram</a></p>
            </div>
            <div class="backlink"><a href="#head">Home</a></div>
        </div>

    </section>
    <!-- FOOTER -->
    <footer>
        <p>
            Copyright Anton Rybakov 2018.
        </p>
    </footer>
</body>

</html>