<!doctype html>
<html lang="en">

<head>
    <title>FBW4 Project</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- Bootstrap Css-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
        <title>Michael</title>
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.js"></script>
                <script type="text/javascript" src="js/functions.js"></script>
                <script type="text/javascript" src="js/jquery.onepage-scroll.js"></script>
                
    <!--My custom css-->
    <link rel="stylesheet" href="../assets/michael/css/michael.css">
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div id="home">
                    my name is michal grajoszek. <br> i am a programer, studying at DCI  <a href="#contact" class="scroll">contact</a> me if you<br>like. cheers.
                </div>
                
                <div id="contact">
                    <h1>
                        you can contact me<br> via <a href="mailto:niczyji@gmail.com">mail</a> or <a href="https://www.linkedin.com/in/mi-gra-99ab919a/" target="_blank">linkedin</a> or <a href="https://www.xing.com/profile/Michal_Grajoszek" target="_blank">xing</a>.
                    </h1>
                    <!--img src="images/tim_brack.jpg"-->
                </div>
                
                <script src="js/jquery.fittext.js"></script>
                <script type="text/javascript">
                    $("#home").fitText(0.765, { minFontSize: '140px', maxFontSize: '350px' });
                    $(".work h1").fitText(0.62, { minFontSize: '30px', maxFontSize: '500px' });
                    $(".work h2").fitText(0.45 , { minFontSize: '30px', maxFontSize: '500px' });
                    $("#contact h1").fitText(0.80, { minFontSize: '140px', maxFontSize: '350px' });
                    $("#fittext3").fitText(1.1, { minFontSize: '50px', maxFontSize: '75px' });
                </script>

                

<!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

</body>
</html>