<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/assets/css/sascha.css">
    <title>Sascha Beuse Design</title>
</head>

<body>
    <section class="bgimage">
        <div class="float-right">
            <a href="https://www.xing.com/profile/Sascha_Beuse">
                <i class="fab fa-xing mt-3"></i>
            </a>
            <a href="https://www.flickr.com/photos/93317578@N06">
                <i class="fab fa-flickr ml-2 mr-3"></i>

            </a>
        </div>

        <div class="text">
            <h1>
                <strong id="headline1">Hello all,
                    <br /> call me Sascha.</strong>
            </h1>

            <p id="text1" class="text-shadow">My name is Sascha Beuse, 39 years old and I am a Diplom Designer (FH). I
                received my
                Degree, in Communications-Design,
                at the former Fachhochschule Duesseldorf. My strong Points focus on the continuation of Corporate
                Designs.
                My native tongue is German. I grew up in the Dominican Republic and visited a bilingual High-School.
                Thanks
                to that I speak English and Spanish fluently. To broaden my Horizon and learn more about things online
                I
                am attending a training to become a frontend web-developer at DCI.</p>

        </div>
    </section>

    <section>
        <div class="jumbotron jumbotron-sm">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <h1 class="h1">
                            Do you want know more?
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="well well-sm">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name">
                                            Name</label>
                                        <input type="text" class="form-control" id="name" placeholder="Enter name"
                                            required="required" />
                                    </div>
                                    <div class="form-group">
                                        <label for="email">
                                            Email Address</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-envelope"></span>
                                            </span>
                                            <input type="email" class="form-control" id="email" placeholder="Enter email"
                                                required="required" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="subject">
                                            Subject</label>
                                        <select id="subject" name="subject" class="form-control" required="required">
                                            <option value="na" selected="">Choose One:</option>
                                            <option value="design">Grafic design</option>
                                            <option value="web developement">Web developement</option>
                                            <option value="art work">Illustration- Art work</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name">
                                            Message</label>
                                        <textarea name="message" id="message" class="form-control" rows="9" cols="25"
                                            required="required" placeholder="Message"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-primary pull-right mb-5" id="btnContactUs">
                                        Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-4">
                    <form>
                        <address>
                            <strong>Beuse Design, Inc.</strong>
                            <br> Dorotheenstraße 55
                            <br> 40235, Düsseldorf
                            <br>
                            <abbr title="Phone">
                                P:</abbr>
                            +49 01573 9220389
                        </address>
                        <address>
                            <strong>Sascha Beuse</strong>
                            <br>
                            <a href="mailto:#">19sasbe79@gmail.com</a>
                        </address>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</body>

</html>