<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
</head>
<body>
    <script>
       /*  let myname = ['Jev', 'Belovs'];
        let firstname = myname[0];
        let lastname = myname [1];
        console.log(firstname + ' ' + lastname);
        
        let [firstName, middleName, lastName] = "JB Jev Belovs".split(' ');
        console.log(firstName);
        console.log(middleName);
        console.log(lastName);

        let [name, age, ...rest] = ["Jev", 42, "DCI", "Digital career institute" , 'Meerbusch'];
console.log(name + ' ' + age + ' ' + rest);

let person = {
name: "Arif",
age: 30,
height: 183
};

let {name, age, height} = person;
console.log(name);
console.log(age);
console.log(height); */
</script>


<script>
/* let person = {
name: "Arif",
age: 30,
height: 183
};

let {name: n, age, height} = person;
console.log(n);
console.log(age);
console.log(height); */
</script>

<script>
/* let person = {
age: 30,
height: 183
};

let {name: n = "Hasan", age, height} = person;
console.log(n);
console.log(age);
console.log(height);  */

</script>

<script>
/*         let person = {
        name: "Arif",
        age: 30,
        height: 183
        };
        
        let {name, age, height} = person;
        console.log(name);
        console.log(age);
        console.log(height); */
        </script>
        

        <script>
/*         let person = {
        name: "Arif",
        age: 30,
        height: 183
        };
        
        let {name: n, age, height} = person;
        console.log(n);
        console.log(age);
        console.log(height); */
        </script>
        
        <script>
        let person = {
        age: 30,
        height: 183
        };
        
        let {name: n = "Hasan", age, height} = person;
        console.log(n);
        console.log(age);
        console.log(height);
        </script>


</body>
</html>