<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sam Portfolio</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../../assets/css/mansour/mansour.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Quicksand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.8.94/css/materialdesignicons.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
        crossorigin="anonymous">

<body>

    <!-- bootstrap navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="homeitem nav-item nav-link active" href="#">HOME <span class="sr-only">(current)</span></a>
                <a class="aboutitem nav-item nav-link" href="#">ABOUT</a>
                <a class="projectsitem nav-item nav-link" href="#">PROJECTS</a>
                <a class="contactitem nav-item nav-link" href="#">CONTACT</a>
            </div>
        </div>
    </nav>
    <!-- header intro -->
    <div class="heading">
        <h1>Hello, I'am <span class="hightlight text-warning">Sam Mansour.</span><br>I'am a web developer.</h1>
        <div class="button">Find out more<i class="fas fa-chevron-right ml-2"></i></i></div>
    </div>
    <!--  about me ,skills and more -->
    <section id="abilities">
        <div class="text-center mb-5">
            <h1 class="head-about">ABOUT</h1>
            <div class="header-bar"></div>
        </div>
        <div class="container text-center mw-100 ">
            <div class="box fast bg-warning ">
                <i class="mdi mdi-speedometer"></i>
                <h3>Fast</h3>
                <div class="text">Fast load times and lag free interaction, my highest priority.</div>
            </div>
            <div class="box inti bg-warning">
                <i class="mdi mdi-lightbulb-outline"></i>
                <h3>Intuitive</h3>
                <div class="text">Strong preference for easy to use, intuitive UX/UI.
                </div>
            </div>
            <div class="box resp bg-warning"><i class="mdi mdi-cellphone-link"></i>
                <h3>Responsive</h3>
                <div class="text">My layouts will work on any device, big or small.
                </div>
            </div>
            <div class="box dynm bg-warning"><i class="mdi mdi-rocket"></i>
                <h3>Dynamic</h3>
                <div class="text">Websites don't have to be static, I love making pages come to life.
                </div>
            </div>
        </div>
        <div id="about" class="mw-100 mt-5">
            <div class="box1 info">

                <img class="mb-5" src="../../assets/css/mansour/img/_DSC5356_LowRes.jpg" alt="">
                <h3>Who Am I ?</h3>
                <p class="text">Hello, my name is Houssam , I am 32 years old and I come from Tunisia. I have live in
                    Germany since
                    2005. IT was always my passion so I decided to learn it . I studied Computer science for 5
                    semesters at
                    the Heinrich Heine University (2014-2017) and now I am visiting a 1 year course of Web-development.
                    I have some experience in Programming, Design and making Applications. I also learned about Project
                    Management and Online Marketing. I speak 4 languages: Arabic, German , English and French.</p>

                <a id="cv" href="../../assets/css/mansour/img/Lebenslauf Houssameddine Mansour.pdf">see My CV</a>
            </div>
            <!--         skills -->
            <div class="box1 skills">

                <div class="skillbar clearfix " data-percent="80%">
                    <div class="skillbar-title" style="background: #2980b9;"><span>HTML5</span></div>
                    <div class="skillbar-bar" style="background: #3498db;"></div>
                    <div class="skill-bar-percent">80%</div>
                </div>

                <div class="skillbar clearfix " data-percent="75%">
                    <div class="skillbar-title" style="background: #2980b9;"><span>CSS3</span></div>
                    <div class="skillbar-bar" style="background: #3498db;"></div>
                    <div class="skill-bar-percent">75%</div>
                </div>

                <div class="skillbar clearfix " data-percent="65%">
                    <div class="skillbar-title" style="background: #2980b9;"><span>JavaScript</span></div>
                    <div class="skillbar-bar" style="background: #3498db;"></div>
                    <div class="skill-bar-percent">65%</div>
                </div>

                <div class="skillbar clearfix " data-percent="85%">
                    <div class="skillbar-title" style="background: #2980b9;"><span>jQuery</span></div>
                    <div class="skillbar-bar" style="background: #3498db;"></div>
                    <div class="skill-bar-percent">85%</div>
                </div>

                <div class="skillbar clearfix " data-percent="60%">
                    <div class="skillbar-title" style="background: #2980b9;"><span>node.Js</span></div>
                    <div class="skillbar-bar" style="background: #3498db;"></div>
                    <div class="skill-bar-percent">60%</div>
                </div>

                <div class="skillbar clearfix " data-percent="75%">
                    <div class="skillbar-title" style="background: #2980b9;"><span>React</span></div>
                    <div class="skillbar-bar" style="background: #3498db;"></div>
                    <div class="skill-bar-percent">75%</div>
                </div>

                <div class="skillbar clearfix " data-percent="40%">
                    <div class="skillbar-title" style="background: #2980b9;"><span>Python</span></div>
                    <div class="skillbar-bar" style="background: #3498db;"></div>
                    <div class="skill-bar-percent">40%</div>
                </div>

                <div class="skillbar clearfix " data-percent="35%">
                    <div class="skillbar-title" style="background: #2980b9;"><span>C# & C++</span></div>
                    <div class="skillbar-bar" style="background: #3498db;"></div>
                    <div class="skill-bar-percent">35%</div>
                </div>
            </div>
        </div>
    </section>
    <!--     here some of my projects -->
    <section id="myWorks">
        <div class="text-center mb-5">
            <h1 class="head-projects">PROJECTS</h1>
            <div class="header-bar2"></div>
        </div>
        <div class="container2 mw-100 mt-5">
            <div class="workbox1 ">
                <div class=" text-center">
                    <div class="text-workbox1">My First Calculator <br>
                        <span class="highlight">with pure JavaScript</span> </div>
                    <a class="btnHover learnbtn1" target="_blank" rel="noopener noreferrer" href="https://codepen.io/Sam_2018/pen/QJwGZw">LEARN
                        MORE</a>
                </div>
            </div>
            <div class="workbox2">
                <div class=" text-center">
                    <div class="text-workbox2">the first Portfolio <br>
                        <span class="highlight">basis HTML5 & CSS3</span> </div>
                    <div class="btnHover learnbtn2">LEARN MORE</div>
                </div>
            </div>
            <div class="workbox3">
                <div class=" text-center">
                    <div class="text-workbox3">the todolist <br>
                        <span class="highlight">with JavaScript </span> </div>
                    <a class="btnHover learnbtn3" target="_blank" rel="noopener noreferrer" href="https://codepen.io/Sam_2018/pen/VVYmWQ">LEARN
                        MORE</a>
                </div>
            </div>
    </section>
    <!-- contact -->
    <section id="contact">
        <div class="text-center mb-5">
            <h1 class="head-contact">CONTACT</h1>
            <div class="header-whiteBar"></div>
        </div>
        <h3 class="text-center m-3">Have a question or want to work together?
        </h3>
        <form class="contactForm d-flex flex-column ">
            <input class="mt-1" type="text" placeholder="Name">
            <input class="mt-1" type="email" placeholder="Email">
            <textarea class="mt-1" name="" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
            <input id="sendBtn" class="mt-1" value="Send">
        </form>
    </section>
    <!-- footer -->
    <footer>
        <div id="scrollTop" class="text-center "><i class="fas fa-angle-double-up"></i></div>
        <div class="social p-5 d-flex flex-row justify-content-center">
            <div><i class="fab fa-facebook-f"></i></div>
            <a target="_blank" rel="noopener noreferrer" href="https://github.com/mansoursam"><i class="fab fa-github"></i></a>
            <div><i class="fab fa-xing"></i></div>
            <a target="_blank" rel="noopener noreferrer" href="https://codepen.io/Sam_2018/"><i class="fab fa-codepen"></i></a>
        </div>
        <div class="copyright text-center pb-5">SAM MANSOUR <span><i class="far fa-copyright"></i></span>
            2018</div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="../../assets/css/mansour/main.js"></script>


</body>

</html>