body {
    background-image: url("http://img.desktopwallpapers.ru/flowers/pics/wide/1366x768/c63093226945732ba150506014d9f902.jpg")
}

.paraTop {
    color: white;
    padding: 20px;
    text-shadow: 1px 1px 2px black; 
}

.paraTop h1 {
    color: white;
    font-size: 40px;
    font-weight: bold;

}

.paraTop p {
    padding: 10px;
    color: yellow;
    font-size: 25px;
}

.imgClass  {
margin: 0px;

}

.imgClass img {
    width: 50%;
    filter: alpha(Opacity=80);
    opacity: 0.8; 
}