.card{
    box-sizing: content-box;
}
.card1{
    background-color: gray;
    
}
.card2{
    background-color: #ffffff;
}
.row1{
    background-color:black;
}
.row2{
        background-color: #831520;
}
.name{
    margin-left: -10em;
}
.text{
    margin-left: -15em;
    margin-top: 50px;
}
.icons {
    margin-left:1300px;
    margin-top: -100px;
    height: 60px;
}
h1{
    font-family: lobster;
    color: black;
}
.contact{
    color: black;
}
.me{
    color: black;
}
.icon{
    color: black;
    margin: 10px;
    margin-right: 30px;
}
.button{
    float: right;
}
.image1{
    width: 50%;
    border-radius:5px;
    border-radius: 50%;
    margin: 4em;
    margin-left: 12em;
    margin-top: -1em;
}

.col1{
     margin-top: 5em;
      color: white;
}
.paragraph1{
    width: 50%;
}
.paragraph2{
    color: rgb(0, 0, 0);
    width: 25%;
    height: 160px;
    margin-left: 200px;
}
.paragraph3{
    color: white;
    width: 50%;
    height: 160px;
    margin-top: 25px;
    color: black;
}
.h2{
    color: white;  
    width: 30%;
}

.paragraph2{
    margin-top: 180px;
    
}
.image2{
    width: 25%;
    margin-top: 100px;
}


.facebook{
    color:#0078d7;
}
.twitter{
    color: #1da1f2;
}
.instagram{
    color: #e1306c;
}
.whatsup{
    color: #4aae20;
}
.go-somewhere{
    color: black;
}