.fixed-bottom{
    background-color: black;
    width: 89%;
    margin: auto;
}
.name{
    font-family: 'Acme', sans-serif;
}
.about{
    font-family: 'Acme', sans-serif;
}
.lead{
    font-family: 'Patrick Hand', cursive;
    font-size: 30px;
 }
 .icon{
     color: rgb(250, 2, 2);
 }

 #bars {
	margin: 2em auto;
	max-width: 960px;
    overflow: hidden;
    width: 100%;
<<<<<<< HEAD

=======
>>>>>>> 29bbf03f255ee39a0c7e26a1903b3e6831972a2e
}

.bar {
	float: left;
	width: 20%;
<<<<<<< HEAD
    text-align: center;
=======
	text-align: center;
>>>>>>> 29bbf03f255ee39a0c7e26a1903b3e6831972a2e
}

.bar h3 {
	font-size: 1.4em;
	font-weight: normal;
	margin: 0;
	text-transform: uppercase;
}

.bar-circle {
	display: block;
	margin: 0.7em auto;
}