body  {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

a .scroll {
    font-family: "Grotesk-Regular";
    font-size: 120.883px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: -3.01667px;
    line-height: 132.783px;
    text-decoration: line-through;
    text-align: left;
    text-indent: 0px;
    text-transform: none;
    vertical-align: baseline;
    white-space: normal;
    word-spacing: 0px;
    background-attachment: scroll;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    color: rgb(136, 136, 136);
    height: auto;
    width: auto;
    border: ;
    border-top: ;
    border-right: ;
    border-bottom: ;
    border-left: ;
    margin: ;
    padding: ;
    max-height: none;
    min-height: 0px;
    max-width: none;
    min-width: 0px;
    position: static;
    top: auto;
    bottom: auto;
    right: auto;
    left: auto;
    float: none;
    display: inline;
    clear: none;
    z-index: auto;
    list-style-image: none;
    list-style-type: disc;
    list-style-position: outside;
    border-collapse: separate;
    border-spacing: 0px 0px;
    caption-side: top;
    empty-cells: show;
    table-layout: auto;
    overflow: visible;
    cursor: pointer;
    visibility: visible;
    transform: none;
    transition: ;
    outline: ;
    outline-offset: 0px;
    box-sizing: content-box;
    resize: none;
    text-shadow: none;
    text-overflow: clip;
    word-wrap: normal;
    box-shadow: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

div #home {
    font-family: "Grotesk-Bold";
    font-size: 120.017px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: -2.91667px;
    line-height: 128.5px;
    text-decoration: none;
    text-align: left;
    text-indent: 0px;
    text-transform: none;
    vertical-align: baseline;
    white-space: normal;
    word-spacing: 0px;
    background-attachment: scroll;
    background-color: rgb(255, 255, 255);
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    color: rgb(0, 0, 0);
    height: 771px;
    width: 1117px;
    border: ;
    border-top: ;
    border-right: ;
    border-bottom: ;
    border-left: ;
    margin: ;
    padding: ;
    max-height: none;
    min-height: 0px;
    max-width: none;
    min-width: 0px;
    position: relative;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    float: none;
    display: block;
    clear: none;
    z-index: 5;
    list-style-image: none;
    list-style-type: disc;
    list-style-position: outside;
    border-collapse: separate;
    border-spacing: 0px 0px;
    caption-side: top;
    empty-cells: show;
    table-layout: auto;
    overflow: visible;
    cursor: auto;
    visibility: visible;
    transform: none;
    transition: ;
    outline: ;
    outline-offset: 0px;
    box-sizing: content-box;
    resize: none;
    text-shadow: none;
    text-overflow: clip;
    word-wrap: normal;
    box-shadow: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
div #contact {
    font-family: serif;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 19px;
    text-decoration: none;
    text-align: left;
    text-indent: 0px;
    text-transform: none;
    vertical-align: baseline;
    white-space: normal;
    word-spacing: 0px;
    background-attachment: scroll;
    background-color: rgb(34, 34, 34);
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    color: rgb(0, 0, 0);
    height: 639px;
    width: 1137px;
    border: ;
    border-top: ;
    border-right: ;
    border-bottom: ;
    border-left: ;
    margin: ;
    padding: ;
    max-height: none;
    min-height: 0px;
    max-width: none;
    min-width: 0px;
    position: relative;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    float: none;
    display: block;
    clear: none;
    z-index: 5;
    list-style-image: none;
    list-style-type: disc;
    list-style-position: outside;
    border-collapse: separate;
    border-spacing: 0px 0px;
    caption-side: top;
    empty-cells: show;
    table-layout: auto;
    overflow: hidden;
    cursor: auto;
    visibility: visible;
    transform: none;
    transition: ;
    outline: ;
    outline-offset: 0px;
    box-sizing: content-box;
    resize: none;
    text-shadow: none;
    text-overflow: clip;
    word-wrap: normal;
    box-shadow: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
h1 {
    font-family: "Grotesk-Bold";
    font-size: 120.883px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: -3.01667px;
    line-height: 132.783px;
    text-decoration: none;
    text-align: left;
    text-indent: 0px;
    text-transform: none;
    vertical-align: baseline;
    white-space: normal;
    word-spacing: 0px;
    background-attachment: scroll;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    color: rgb(255, 255, 255);
    height: 398.35px;
    width: 1207px;
    border: ;
    border-top: ;
    border-right: ;
    border-bottom: ;
    border-left: ;
    margin: ;
    padding: ;
    max-height: none;
    min-height: 0px;
    max-width: none;
    min-width: 0px;
    position: absolute;
    top: 44.45px;
    bottom: -92px;
    right: 0px;
    left: 55px;
    float: none;
    display: block;
    clear: none;
    z-index: 2;
    list-style-image: none;
    list-style-type: disc;
    list-style-position: outside;
    border-collapse: separate;
    border-spacing: 0px 0px;
    caption-side: top;
    empty-cells: show;
    table-layout: auto;
    overflow: visible;
    cursor: auto;
    visibility: visible;
    transform: none;
    transition: ;
    outline: ;
    outline-offset: 0px;
    box-sizing: content-box;
    resize: none;
    text-shadow: none;
    text-overflow: clip;
    word-wrap: normal;
    box-shadow: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
a {
    font-family: "Grotesk-Regular";
    font-size: 120.883px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: -3.01667px;
    line-height: 132.783px;
    text-decoration: line-through;
    text-align: left;
    text-indent: 0px;
    text-transform: none;
    vertical-align: baseline;
    white-space: normal;
    word-spacing: 0px;
    background-attachment: scroll;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    color: rgb(136, 136, 136);
    height: auto;
    width: auto;
    border: ;
    border-top: ;
    border-right: ;
    border-bottom: ;
    border-left: ;
    margin: ;
    padding: ;
    max-height: none;
    min-height: 0px;
    max-width: none;
    min-width: 0px;
    position: static;
    top: auto;
    bottom: auto;
    right: auto;
    left: auto;
    float: none;
    display: inline;
    clear: none;
    z-index: auto;
    list-style-image: none;
    list-style-type: disc;
    list-style-position: outside;
    border-collapse: separate;
    border-spacing: 0px 0px;
    caption-side: top;
    empty-cells: show;
    table-layout: auto;
    overflow: visible;
    cursor: pointer;
    visibility: visible;
    transform: none;
    transition: ;
    outline: ;
    outline-offset: 0px;
    box-sizing: content-box;
    resize: none;
    text-shadow: none;
    text-overflow: clip;
    word-wrap: normal;
    box-shadow: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}