body {
  background-image: url(./img/body1.png);
  background-size: cover;
  width: 100%;
  box-sizing: border-box;
}
.textAhmad {
  font-size: 8vw;
  color: #fafafa;
}
.textAlkwifi {
  font-size: 9vw;
  color: #eede00;
}
.iconsBody i {
  color: #fafafa;
  padding: 8px;
  margin: 2px auto;
  transition: 0.5s;
  text-align: center;
}
.iconsBody i:hover {
  color: #eede00;
  transform: rotate(360deg);
}
.textWebBody {
  /* background-color: rgba(236, 232, 232, 0.11); */
  color: #fafafa;
  font-size: 2.5vw;
}
#menuBody a i {
  font-size: 2.5rem;
  color: #ffffff;
}
.sidenav {
  height: 0%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.932);
  overflow-y: hidden;
  transition: 1s;
}
/* #Signature {
  height: 0;
  width: 50%;
  position: fixed;
  z-index: 1;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.932);
  overflow-y: hidden;
  transition: 1s;
} */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none !important;
  font-size: 3.5vw;
  color: #818181;
  display: block;
  transition: 0.3s;
  text-align: center;
  margin-top: 2rem;
}
.sidenav .closebtn {
  position: absolute;
  top: -1.5vw;
  padding-left: 3vw;
  margin-left: 4vw;

  /* right: 25px; */
  font-size: 42px;

  /* margin-left: 50px; */
}
.sidenav a:hover {
  color: #eede00;
}
.sidenav div {
  color: #eede00;
  font-size: 24px;
  text-align: center;
}

.sideImage {
  height: 0%;
  width: 50%;
  position: fixed;
  z-index: 1;
  right: 0;
  bottom: 0;
  background-color: #eede00d3;
  overflow-y: hidden;
  transition: 1s;
}
#imgBody {
  width: 30vw;
  height: 30vw;
  border: 2px solid black;
  box-shadow: 8px 8px 8px rgba(128, 128, 128, 0.562);
  display: block;
  margin: 0 auto;
  margin-top: 25vh;
}
#spanBody {
  color: #eede00d3;
  font-size: 2.5vw;
}
#menuBody span {
  color: white;
}

/* ================================================== */
.boxWork {
  width: 90%;
  height: 100%;
  background-color: #575050bd;
  border-bottom: 7px solid #eede00;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
  color: white;
  border-radius: 15px;
}
.boxWork img {
  border-radius: 15px;
}
.container1 {
  width: 100%;
  background-color: #ddd;
  border-radius: 20px;
}
.skills {
  text-align: right;
  padding: 10px;
  color: white;
}
.rounded-circle {
  border: 4px solid#eede00;
}
#textLetme {
  color: white;
}
.firstcharacter {
  color: rgb(8, 8, 8);
  float: left;
  /* font-family: 'Playball', cursive; */
  font-family: "Rochester", cursive;
  font-family: "Oleo Script Swash Caps", cursive;
  /* font-family: Georgia; */
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}
.col-md-7 p {
  color: white;
  font-size: 22px;
}
.col-md-7 {
  width: 100%;
  height: 100%;
  background-color: #575050bd;
  border-bottom: 7px solid #eede00;
  border-radius: 15px;
}
#skillsbar {
  color: white;
}
#skillsbar p {
  font-size: 24px;
}
#contactBox1 {
  height: 600px;
  background-color: #eede00da;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  /* border-radius: 15px; */
}

#contactMe {
  background-color: rgba(90, 90, 90, 0.596);
  height: 600px;
  margin-bottom: 30px;
  border-radius: 15px;
}
#boxOneContact,
#boxTowContact {
  margin-top: 17%;
}
#telfon p i,
#email p i,
#adress p i {
  color: black;
  padding: 5px;
  font-size: 28px;
}
#telfon p,
#email p,
#adress p {
  color: black;
  padding: 5px;
  font-size: 28px;
}
.form-group label {
  color: white;
}
#textForm {
  color: #eede00;
  font-size: 32px;
}
.circle {
  width: 20px;
  height: 20px;
  border: 1px solid rgba(224, 212, 33, 0.993);
  border-radius: 15px;
  position: absolute;
  z-index: -1;
}
#iconsAboutme {
  font-size: 28px;
}
#iconsAboutme a i {
  color: #111;
  width: 42px;
  height: 42px;
  padding: 5px;
  margin: 5px auto;
  border: 2px solid #111;
  border-radius: 50%;
}

/* .card-body a {
  transition: 0.5s;
} */
.card-body a img {
  transition: 0.5s;
}
.card-body a img:hover {
  transform: rotateY(180deg);
}
.card-title {
  font-family: "Tangerine", cursive;
  font-size: 30px;
  font-weight: 800;
}
.card-footer a i {
  color: rgb(31, 28, 28);
  margin: 10px;
  font-size: 30px;
  transition: 0.5s;
}

.card-footer a i:hover {
  transform: rotateX(360deg);
}
#Signature div h2 {
  font-size: 8rem;
  font-family: "Tangerine", cursive;
  color: #eede00;
}
.Yellow {
  background-color: #eede0073 !important;
}

#glasslogoID {
  -webkit-animation: mymove 5s infinite;
  animation: mymove 10s infinite;
}

@keyframes mymove {
  0% {
    transform: rotateY(90deg);
  }
  20% {
    transform: rotateY(0deg);
  }
  40% {
    transform: rotateY(-90deg);
  }
  60% {
    transform: rotateY(0deg);
  }
  80% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(-90deg);
  }
}
