<!doctype html>
<html lang="en">

<head>
    <title>ahmadport3,10</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">

    <link rel="stylesheet" href="../../assets/ahmadkwifi/ahmadk.css">
</head>

<body>
    <div id="containerAK">
        <div id="boxOne">
            <div id="mySidenav" class="sidenav text-center">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="ahmadk.html">Home</a>
                <a href="#" onclick="openAboutme()">About Me</a>
                <a href="#" onclick="openMyWork()">My Work</a>
                <a href="#" onclick="openContactMe()">Contact Me</a>
                <a href="#" onclick="openSignature()">Signature</a>
            </div>
            <br><br>

            <div id="main">
                <h1 id="textIAM">I AM ...</h1>
                <p>
                    <br><br>
                    <h2 id="textDW">DESIGNER AND DEVELOPER FOR WEBSITE AND APPLICATIONS!!!</h2>
                </p>
                <br><br>
                <button type="button" class="btn btn-light">
                    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open my Portfolio</span></button>
                <br>
                <br>
                <br>
                <br>
                <h1 id="logo">Alkwifi Ahmad</h1>
            </div>
        </div>
        <div id="boxTow">
            <div id="AboutMe">
                <div class="row text-center">
                    <div class="col-md-1">
                        <div id="mySidenav1" class="sidenav1">
                            <a href="#" id="one1"> <i class="fab fa-whatsapp"></i> </a>
                            <a href="#" id="tow2"> <i class="fab fa-facebook-f"></i></a>
                            <a href="#" id="three3">
                                <i class="fab fa-github"></i></a>
                            <a href="#" id="four4"> <i class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                    <div class="col-md-5">

                        <img src="../../assets/ahmadkwifi/imgahmadk/Ahamdk.png" alt="" id="my_Image">
                    </div>

                    <div class="col-md-5 text-center" id="col_right">
                        <div class="container">
                            <br><br>


                            <img src="../../assets/ahmadkwifi/imgahmadk/logoa.png" alt="" style="width:250px;hright:50px;">
                            <br>
                            <p>
                                <span class="firstcharacter">I</span></p>
                            <br>
                            <p>am Alkwifi Ahmad, I come from Syria, I am
                                Forty-Tow years old, I studied at the University of Damascus, Faculty of Economics
                                Accounting Department,
                                I have a college degree.
                                I was a Teacher in economic mathematics.
                                I have experience in Potoshop and video editing software, and Office programs.
                                I have interested in designing and developing websites, in this time I am learning
                                HTML, CSS, Javascript in DCI in Düsssldorf.
                                My hobbies are drawing and swimming.
                            </p>
                            <br>
                            <div id="iconsAboutme">
                                <a href="" id="FaceBook"><i class="fab fa-facebook-f"></i></a>
                                <a href="" id="WhatsApp"><i class="fab fa-whatsapp"></i></a>
                                <a href="" id="GitHub"><i class="fab fa-github"></i></a>
                                <a href="" id="TwiTter"><i class="fab fa-twitter"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>
        <div id="boxThree" class="text-center">
            <div id="MyWork" class="container text-center">
                <div class="row">
                    <div class="col-md-6">
                        <div class="content">
                            <img src="../../assets/ahmadkwifi/imgahmadk/1.jpeg" alt="Mountains" style="width:100%"
                                class="img-thumbnail">
                            <h3>My Work</h3>
                            <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei,
                                at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="content">
                            <img src="../../assets/ahmadkwifi/imgahmadk/2.jpeg" alt="Lights" style="width:100%" class="img-thumbnail">
                            <h3>My Work</h3>
                            <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei,
                                at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="content">
                            <img src="../../assets/ahmadkwifi/imgahmadk/4.jpeg" alt="Nature" style="width:100%" class="img-thumbnail">
                            <h3>My Work</h3>
                            <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei,
                                at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="content">
                            <img src="../../assets/ahmadkwifi/imgahmadk/6.jpeg" alt="Mountains" style="width:100%"
                                class="img-thumbnail">
                            <h3>My Work</h3>
                            <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei,
                                at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="boxVour">
            <div id="ContactMe">
                <div class="row">
                    <div class="col-md-6">
                        <div class="container">
                            <h2>You can communicate with me just fill out the following date : </h2>
                            <form action="/action_page.php">
                                <div class="form-group">
                                    <label for="fname">First Name</label>
                                    <input type="text" class="form-control" id="fname" name="firstname" placeholder="Your name..">
                                </div>
                                <div class="form-group">
                                    <label for="lname">Last Name</label>
                                    <input type="text" class="form-control" id="lname" name="last name" placeholder="Your last name..">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email:</label>
                                    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                                </div>
                                <div class="form-group">
                                    <label for="pwd">Select your Country</label>
                                    <select class="custom-select" id="inputGroupSelect01">
                                        <option selected>Choose...</option>
                                        <option value="1">Germany</option>
                                        <option value="2">United States</option>
                                        <option value="3">Syria</option>
                                        <option value="3">India</option>
                                    </select>
                                </div>

                                <button type="submit" class="btn btn-default">Submit</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="container">
                            <h1>My Google Map Loation</h1>

                            <div id="map" style="width:100%;height:500px"></div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div id="boxFife">
            <div id="Signature">
                <div class="container text-center">
                    <h2> My Signature</h2>
                    <div class="card-deck shadow" id="myCard">
                        <div class="card">
                            <img class="card-img-top shadow" src="../../assets/ahmadkwifi/imgahmadk/ahmadroom.png" alt="Card image cap">
                            <div class="text-center">

                            </div>

                            <div class="card-body cardBody">
                                <img src="../../assets/ahmadkwifi/imgahmadk/ahmadlogio.png" class="rounded-circle" alt="..."
                                    id="myCircleImage">
                                <h1 class="card-title textAHMAD">AHMAD ALKWIFI</h1>
                                <p class="card-text">DESIGNER AND DEVELOPER FOR WEBSITE AND APPLICATIONS!!!</p>

                            </div>
                            <div class="card-footer">
                                <img src="../../assets/ahmadkwifi/imgahmadk/ahmadlogio.png" alt="" style="width:50px;hieght:50px;"
                                    class="fa-spin">
                                <small class="text-muted">Copyright<i class="fas fa-copyright "></i> Alkwifi
                                    Ahmad,
                                    Germany-2018</small>

                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <!-- gooooooooooogle map -->

        <script>
            function myMap() {
                var mapCanvas = document.getElementById("map");
                var mapOptions = {
                    center: new google.maps.LatLng(51.508742, -0.120850),
                    zoom: 7,
                    panControl: true,
                    zoomControl: true,
                    mapTypeControl: true,
                    scaleControl: true,
                    streetViewControl: true,
                    overviewMapControl: true,
                    rotateControl: true
                };
                var map = new google.maps.Map(mapCanvas, mapOptions);
            }
        </script>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap"></script>
        <!-- Optional JavaScript -->
        <script src="../../assets/ahmadkwifi/ahmadk.js"></script>

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
            crossorigin="anonymous"></script>
</body>

</html>