<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Zoya Ebrahimi Portfolio</title>
    <meta name="description" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
</head>

<body class="aboutme">

    <nav class="navbar navbar-expand-lg navbar-light">
        <img class="logo" src="image/zoya-logo.png" alt="logo"> <button class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">

                <li class="nav-item active">
                    <a href="index.html">Home</a> </li>
                <li class="nav-item">
                    <a href="aboutme.html">About me</a>
                </li>
                <li class="nav-item">
                    <a href="contact.html">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="d-flex justify-content-end">
        <div class="aboutme2 w-50 d-flex flex-column ">

            <h1 class="aboutme1">About me</h1>
            <div class="m-4 text-blcak "> I come from Iran and worked there as a
                journalist. After
                successfully completing
                a
                bachelor's
                degree as a translator for Italian, in 2012 I started my journalistic work at the specialist journal
                for
                medical
                technology Sanatdarman in Teheran, where I first worked as a photographer and specialist translator
                from
                English.
                After completing my journalistic education at Sanatdarman, I took over the responsibility for planning
                and
                conducting
                interviews and image reports during trade fair visits at home and abroad. It was also my job to examine
                texts
                for
                stylistics, grammar and professional correctness. Now i am in Germanynear three yeras and i can speak
                Gemany.I
                started
                to learn Web developing and this is my first work as a Web developer! I want make a connection between
                Media
                and
                Web developing in the future.
            </div>

        </div>
    </div>

    <div>
        <div id="SkillBox">

            <p class="text-center">My Skills</p>


            <div class="SkillBar">
                <div id="Skill-HTML">
                    <span class="Skill-Area ">HTML</span>
                    <span class="PercentText ">70%</span>
                </div>
            </div>

            <div class="SkillBar">
                <div id="Skill-CSS">
                    <span class="Skill-Area ">CSS/CSS3</span>
                    <span class="PercentText ">70%</span>
                </div>
            </div>

            <div class="SkillBar">
                <div id="Skill-jQuery">
                    <span class="Skill-Area ">jQuery</span>
                    <span class="PercentText ">40%</span>
                </div>
            </div>

            <div class="SkillBar">
                <div id="Skill-JS">
                    <span class="Skill-Area ">Javascript</span>
                    <span class="PercentText ">40%</span>
                </div>
            </div>
        </div>



        <div class="footer">
            <p>Zoya Ebrahimi</p>
            <p>Email: zoyaebrahimi55@gmail.com</p>
        </div>
    </div>
    <script src="main.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>


</html>