<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Zoya Ebrahimi Portfolio</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="../../assets/zoya/main.css">
    <link href="https://fonts.googleapis.com/css?family=Yeseva+One" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="about-us.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
</head>

<body>


    <div class="topnav" id="myTopnav">
        <a href="index.html" class="active">Home</a>
        <a href="contact.html">Contact</a>
        <a href="aboutus.html">About me</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">

        </a>
    </div>

    <h1 class="aboutme">About me</h1>
    <div class="aboutme2"> I come from Iran and worked there as a journalist. After successfully completing a bachelor's
        degree as a translator for Italian, in 2012 I started my journalistic work at the specialist journal for medical
        technology Sanatdarman in Teheran, where I first worked as a photographer and specialist translator from English.
        After completing my journalistic education at Sanatdarman, I took over the responsibility for planning and conducting
        interviews and image reports during trade fair visits at home and abroad. It was also my job to examine texts for
        stylistics, grammar and professional correctness. Now i am in Germanynear three yeras and i can speak Gemany.I started
        to learn Web developing and this is my first work as a Web developer! I want make a connection between Media and
        Web developing in the future.
    </div>
    <div class="footer">
        <p>Zoya Ebrahimi</p>
        <p>Email: zoyaebrahimi55@gmail.com</p>

    </div>

</body>

</html>