<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Zoya Ebrahimi Portfolio</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="../../assets/zoya/main.css">
    <link href="https://fonts.googleapis.com/css?family=Yeseva+One" rel="stylesheet">


</head>

<body>
    <div class="topnav" id="myTopnav">
        <a href="index.html" class="active">Home</a>
        <a href="contact.html">Contact</a>
        <a href="aboutus.html">About me</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">

        </a>
    </div>


    <div id="page content">
        <div class="hero-text">
            <h1 style="font-size:50px">I am Zoya Ebrahimi</h1>
            <h3>Photojournalist-Web Developer</h3>
            <button onclick="window.location.href='contact.html'">Hire me</button>
            <p>Connectting Photo-news-website</p>
        </div>

        <div class="footer">
            <p>Zoya Ebrahimi</p>
            <p>Email: zoyaebrahimi55@gmail.com</p>

        </div>

        <script src="../../assets/zoya/main.js"></script>

</body>

</html>